.loading-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9998;
}

.text {
    position: absolute;
    bottom: 20px;
    color: #000;
    font-weight: 700;
    width: 90px;
    left: 50%;
    margin-left: -40px;
}

.wrapper {
    position: fixed;
    left: 54%;
    top: 53%;
    background-color: #FEF4AD;
    transform: scale(1.5, 1.5) translate(-50%, -50%);
    animation: change-background 3s infinite linear;
    width: 280px;
    height: 240px;
    z-index: 9999;
}

.floor {
    position: absolute;
    left: 50%;
    top: 68%;
    width: 200px;
    height: 5px;
    background: #673C63;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #111;
    z-index: 2;
}

.candles {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 250px;
    height: 150px;
    transform: translate(-50%, -100%);
    z-index: 1;
}

.candle1 {
    position: absolute;
    left: 45%;
    top: 55%;
    width: 35px;
    height: 83px;
    background: #fff;
    border: 3px solid #673C63;
    border-bottom: 0;
    border-radius: 3px;
    /*transform-origin: center right;*/
    transform: translate(60%, -25%);
    box-shadow: -2px 0 0 #95c6f2 inset;
    animation: expand-body 3s infinite linear;
}

.candle1__stick, .candle2__stick {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 3px;
    height: 15px;
    background: #673C63;
    border-radius: 8px;
    transform: translate(-50%, -100%);
}

.candle2__stick {
    height: 12px;
    transform-origin: bottom center;
    animation: stick-animation 3s infinite linear;
}

.candle1__eyes, .candle2__eyes {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 35px;
    height: 30;
    transform: translate(-50%, 0%);
}

.candle1__eyes-one {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #673C63;
    transform: translate(-70%, 0%);
    animation: blink-eyes 3s infinite linear;
}

.candle1__eyes-two {
    position: absolute;
    left: 70%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #673C63;
    transform: translate(-70%, 0%);
    animation: blink-eyes 3s infinite linear;
}

.candle1__mouth {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 0;
    height: 0;
    border-radius: 20px;
    background: #673C63;
    transform: translate(-50%, -50%);
    animation: uff 3s infinite linear;
}

.candle__smoke-one {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 30px;
    height: 3px;
    background: grey;
    transform: translate(-50%, -50%);
    animation: move-left 3s infinite linear;
}

.candle__smoke-two {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: grey;
    transform: translate(-50%, -50%);
    animation: move-top 3s infinite linear;
}

.candle2 {
    position: absolute;
    left: 25%;
    top: 71%;
    width: 30px;
    height: 47px;
    background: #fff;
    border: 3px solid #673C63;
    border-bottom: 0;
    border-radius: 3px;
    transform: translate(60%, -15%);
    transform-origin: center right;
    box-shadow: -2px 0 0 #95c6f2 inset;
    animation: shake-left 3s infinite linear;
}

.candle2__eyes-one {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0 solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-lower 3s infinite linear;
}

.candle2__eyes-two {
    position: absolute;
    left: 70%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0 solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-greater 3s infinite linear;
}

.light__wave {
    position: absolute;
    top: 42%;
    left: 30%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 0;
    transform: translate(-25%, -50%) scale(1.5, 1.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: expand-light 3s infinite linear;
}

.candle2__fire {
    position: absolute;
    top: 57%;
    left: 38.2%;
    display: block;
    width: 16px;
    height: 20px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: #FF9800;
    transform: translate(-50%, -50%);
    animation: dance-fire 3s infinite linear;
}

@keyframes blink-eyes {
    0%, 35% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    36%, 39% {
        opacity: 0;
        transform: translate(-70%, 0%);
    }

    40% {
        opacity: 1;
        transform: translate(-70%, 0%);
    }

    50%, 65% {
        transform: translate(-140%, 0%);
    }

    66% {
        transform: translate(-70%, 0%);
    }
}

@keyframes expand-body {
    0%, 40% {
        transform: scale(1, 1) translate(60%, -25%);
    }

    45%, 55% {
        transform: scale(1.1, 1.1) translate(60%, -28%);
    }

    60% {
        transform: scale(0.89, 0.89) translate(60%, -25%);
    }

    65% {
        transform: scale(1, 1) translate(60%, -25%);
    }

    70% {
        transform: scale(0.95, 0.95) translate(60%, -25%);
    }

    75% {
        transform: scale(1, 1) translate(60%, -25%);
    }
}

@keyframes uff {
    0%, 40% {
        width: 0;
        height: 0;
    }

    50%, 54% {
        width: 15px;
        height: 15px;
        left: 30%;
    }

    59% {
        width: 5px;
        height: 5px;
        left: 20%;
    }

    62% {
        width: 2px;
        height: 2px;
        left: 20%;
    }

    67% {
        width: 0;
        height: 0;
        left: 30%;
    }
}

@keyframes change-background {
    0%, 59%, 98%, 100% {
        background: #FEF4AD;
    }

    61%, 97% {
        background: #aaaaaa;
    }
}

@keyframes move-left {
    0%, 59%, 100% {
        width: 0;
        left: 40%;
    }

    60% {
        width: 30px;
        left: 30%;
    }

    68% {
        width: 0;
        left: 20%;
    }
}

@keyframes move-top {
    0%, 64%, 100% {
        width: 0;
        height: 0;
        top: 0%;
    }

    65% {
        width: 10px;
        height: 10px;
        top: 40%;
        left: 40%;
    }

    80% {
        width: 0;
        height: 0;
        top: 20%;
    }
}

@keyframes shake-left {
    0%, 40% {
        left: 25%;
        transform: translate(60%, -15%);
    }

    50%, 54% {
        left: 25%;
        transform: translate(60%, -15%);
    }

    59% {
        left: 25%;
        transform: translate(60%, -15%);
    }

    62% {
        left: 23%;
        transform: translate(60%, -15%);
    }

    65% {
        left: 25%;
        transform: translate(60%, -15%);
    }

    67% {
        left: 23%;
        transform: translate(60%, -15%);
    }

    75% {
        left: 25%;
        transform: scale(1.15, 0.85) translate(60%, -15%);
        background: #fff;
        border-color: #673C63;
    }

    91% {
        left: 23%;
        transform: scale(1.18, 0.82) translate(60%, -10%);
        background: #F44336;
        border-color: #F44336;
        box-shadow: -2px 0 0 #F44336 inset;
    }

    92% {
        left: 26%;
        transform: scale(0.85, 1.15) translate(60%, -15%);
    }

    95% {
        left: 25.5%;
        transform: scale(1.05, 0.95) translate(60%, -15%);
    }

    97% {
        left: 25%;
        transform: scale(1, 1) translate(60%, -15%);
    }
}

@keyframes stick-animation {
    0%, 40% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    50%, 54% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    59% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }

    62% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-15deg) translate(-50%, -100%);
    }

    65% {
        left: 50%;
        top: 0%;
        transform: rotateZ(15deg) translate(-50%, -100%);
    }

    70% {
        left: 50%;
        top: 0%;
        transform: rotateZ(-5deg) translate(-50%, -100%);
    }

    72% {
        left: 50%;
        top: 0%;
        transform: rotateZ(5deg) translate(-50%, -100%);
    }

    74%, 84% {
        left: 50%;
        top: 0%;
        transform: rotateZ(0deg) translate(-50%, -100%);
    }

    85% {
        transform: rotateZ(180deg) translate(0%, 120%);
    }

    92% {
        left: 50%;
        top: 0%;
        transform: translate(-50%, -100%);
    }
}

@keyframes expand-light {
    10%, 29%, 59%, 89% {
        transform: translate(-25%, -50%) scale(0, 0);
        border: 2px solid rgba(255, 255, 255, 0);
    }

    90%, 20%, 50% {
        transform: translate(-25%, -50%) scale(1, 1);
    }

    95%, 96%, 26%, 27%, 56%, 57% {
        transform: translate(-25%, -50%) scale(1.25, 1.25);
        border: 2px solid rgba(255, 255, 255, 0.5);
    }

    0%, 28%, 58%, 100% {
        transform: translate(-25%, -50%) scale(1.5, 1.5);
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}

@keyframes dance-fire {
    59%, 89% {
        left: 38.2%;
        width: 0;
        height: 0;
    }

    90%, 0%, 7%, 15%, 23%, 31%, 39%, 47%, 55% {
        left: 37.8%;
        width: 16px;
        height: 20px;
        background: #FFC107;
    }

    94%, 3%, 11%, 19%, 27%, 35%, 43%, 51%, 58% {
        left: 38.6%;
        width: 16px;
        height: 20px;
        background: #FF9800;
    }
}

@keyframes changeto-lower {
    0%, 70%, 90% {
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0 solid #673C63;
        transform: translate(-90%, 0%);
    }

    71%, 89% {
        background: none;
        border: solid #673C63;
        border-radius: 0;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(-45deg) translate(-50%, -65%);
        -webkit-transform: rotate(-45deg) translate(-50%, -65%);
    }
}

@keyframes changeto-greater {
    0%, 70%, 90% {
        top: 50%;
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #673C63;
        border-width: 0 0 0 0;
        border: 0 solid #673C63;
        transform: translate(-80%, 0%);
    }

    71%, 89% {
        top: 30%;
        background: none;
        border: solid #673C63;
        border-radius: 0;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        float: left;
        transform-origin: bottom left;
        transform: rotate(135deg) translate(-80%, 20%);
        -webkit-transform: rotate(135deg) translate(-80%, 20%);
    }
}

/* 淡入 */
.a-fadein {
    -webkit-animation: .8s ease-out backwards;
    -moz-animation: .8s ease-out backwards;
    -ms-animation: .8s ease-out backwards;
    animation: .8s ease-out backwards;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    -ms-animation-name: fadein;
    animation-name: fadein;
}

/* 淡入上 */
.a-fadeinT {
    -webkit-animation: .8s ease-out backwards;
    -moz-animation: .8s ease-out backwards;
    -ms-animation: .8s ease-out backwards;
    animation: .8s ease-out backwards;
    -webkit-animation-name: fadeinT;
    -moz-animation-name: fadeinT;
    -ms-animation-name: fadeinT;
    animation-name: fadeinT;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 淡入-从上 */
@-webkit-keyframes fadeinT {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeinT {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeinT {
    0% {
        opacity: 0;
        -ms-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}

@keyframes fadeinT {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
 | ------------------------------------------
 |  alert
 | ------------------------------------------
 */
.message {
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: #edf2fc;
    transition: opacity .3s, transform .4s, top .4s;
    overflow: hidden;
    padding: 15px 15px 15px 20px;
    display: flex;
    align-items: center;
}

.message p {
    margin: 0;
    color: #67c23a;
    text-align: left;
    margin: 0;
}

.message p .close {
    font-size: 20px;
    display: inline-block;
    float: right;
    width: 20px;
    height: 100%;
    line-height: 100%;
    text-align: center;
}
.message p .close:hover {
    background-color: rgba(0,0,0,0.3);
}

.message--success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.work.message {
    min-width: 440px;
    text-align: left;
}

.work.message h3 {
    margin: 0;
    color: #333399;;
    text-align: left;
    line-height: 33px;
}

.work.message .close {
    position: relative;
    top: -30px;
    right: 5px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.work.message .message__content{
    margin: 0 0 10px 0;
    font-size: 0.8em;
    color: #aaa;
}

.work .btn-primary {
    background-color: #333399;
    color: #fff;
}
.work .btn-default:hover {
    border-color: #5b5c99;
    color: #5b5c99;
}
.work .btn-primary:hover {
    background-color: #5b5c99;
    color: #fff;
}

@media (max-width: 968px) {
    .wrapper {
        left: 65%;
        width: 220px;
    }
}
